$fg: #e0f2f1;
$bg: #004d40;
$highlight: #4db6ac;

//via https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

//============================

* {
	//box-sizing: border-box;
}

body {
	padding: 20px;
	background-color: $bg;
	font-family: 'Roboto', sans-serif;
	color: $fg;
}

header {
	text-align: center;
}

h1 {
	padding-bottom: 30px;
	
}

h2 {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.game-row {
	cursor: default;
	display: flex;
	width: 100%;
	max-width: 275px; //scaled down from 300px to avoid a glitch with IE/FF borders
	max-height: 100px;
	margin: 0 auto;
}

.one-by-one {
  @include aspect-ratio(1,1);  
}

.box {
    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $fg;
        font-size: 60px;
    }
}

#space-1 {
	border-top: 0;
	border-left: 0;
}

#space-2 {
	border-top: 0;
}

#space-3 {
	border-top: 0;
	border-right: 0;
}

#space-4 {
	border-left: 0;
}

#space-6 {
	border-right: 0;
}

#space-7 {
	border-left: 0;
	border-bottom: 0;
}

#space-8 {
	border-bottom: 0;
}

#space-9 {
	border-right: 0;
	border-bottom: 0;
}

.container {
	flex: 1 1 0px;
	max-width: 100px;
	margin: 0 auto;
	border: 2px solid $fg;
}

.space-hover {
	cursor: pointer;
}

.space-hover:hover,
.space-hover:focus {
	background-color: $highlight;
}

.status {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;

	p {
		margin: 0;
		padding: 30px 5px 20px 5px;
	}
}

.options {
	max-width: 250px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.options-title {
	width: 100%;
	padding-top: 20px;

	p {
		margin: 0;
		padding-bottom: 5px;
	}
}

.btn-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.option-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 50px; 
	height: 40px; 
	margin: 5px;
	padding: 5px 10px;
	border: 2px solid $fg;
	color: #80cbc4;

	&:hover,
	&:focus {
		color: $fg;
	}
}

.marker-btn {
	margin: 5px auto;
	font-size: 30px;
}

.difficulty-btn {
	margin: 5px auto;
}

@media screen and(max-width: 290px){
	.box span{
		font-size: 40px;
	}
}